<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="00:00:00"/>
	<meta name="changed" content="2018-01-13T16:41:23.166162033"/>
	<meta name="created" content="00:00:00">
	<meta name="changed" content="2018-01-13T14:37:36.051786486">
	<meta name="created" content="2018-01-12T20:19:04.552831740">
	<meta name="changed" content="2018-01-12T21:53:55.747050964">
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		h3.western { font-family: "Liberation Sans", sans-serif }
		h3.cjk { font-family: "Noto Sans CJK SC Regular" }
		h3.ctl { font-family: "FreeSans" }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US" dir="ltr">
  <h3 class="western">Notes:</h3>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Kelly will make and distribute brownies, cookies, muffins, cupcakes.
</p>


	<p style="margin-bottom: 0in; line-height: 100%">Kelly and trish are to make sour strings and sour patches</p>
<p style="margin-bottom: 0in; line-height: 100%">Norma will experiment and make some spiked chocolates (white, dark and milk)</p>
<p style="margin-bottom: 0in; line-height: 100%">Veda is to make some gummy bears </p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
Keep track of all costs, details, instructions/tutorials and how much it would cost to do another batch, as well as dosage.
</p>
<p>Include packaging if you can</p>


<form action="https://getsimpleform.com/messages?form_api_token=b83fe0c887136349bbccf84ea8b5656c" method="post">
  <p style="margin-bottom: 0in; line-height: 100%">Diana and trisha, give me your full home addresses.(state city street zip apt) .</p>
  <input type='text' name='dianaandtrishaddress' /><br/>
  Trish, i need your full name so we can send you mail if needed.<br/>
  <input type='text' name='trish name' /><br/>
  <input type='submit' value='submit.' />
</form>

</body>
</html>
