<h1>Njmjofficials#parlimentarian</h1>
<p>Find me in app/views/njmjofficials/parlimentarian.html.erb</p>
<br />Role of a Parliamentarian
<br />
<br />A Parliamentarian is an expert in rules of order and the proper procedures for the
<br />conduct of meetings of deliberative assemblies. Parliamentarians assist organizations
 <br />in the drafting and interpretation of bylaws and rules of order, and the planning
  <br />and conduct of meetings.
<br />
<br />
<br />
<br />Drafting and Interpreting Bylaws
<br />
<br />Bylaws define the make-up, governance, rights and responsibilities of a given
<br />organization and it’s members. They also define specific rules, which may be
<br />unique to an organization, which can not be suspended, but must be adhered to.
<br />
<br />Bylaws must be legislatively compliant with the laws governing the organization.
<br />
<br />
<br />When a parliamentary authority has been adopted, such as the current edition of
 <br />Robert’s Rules of Order Newly Revised, the parliamentary authority provides
 <br />clear definition of many of the rules of order and procedures which the
 <br />organization does not have to try and recreate in the bylaws, except for
  <br />those specific cases where there is a variance or when the organization
   <br />does not want the rule to be able to be suspended.
<br />
<br />Parliamentarians assist the organization in drafting and interpreting bylaws,
<br />specific to the needs of the organization. Working with the organization’s
<br />legal council, the parliamentarian will ensure that the bylaws are
<br />legislatively compliant.
<br />
<br />
<br />
<br />Parliamentary Opinions
<br />
<br />Parliamentarians are often asked by organizations, “given our current bylaws and
 <br />rules of order, how do we do this, or, what is the proper procedure to accomplish this
  <br />objective?” The Parliamentarian will review the organization’s governing
   <br />documents and provide an opinion as to how to proceed within the rules.
<br />
<br />
<br />
<br />Meeting and Convention Planning
<br />
<br />Parliamentarians are often called upon to assist organizations in planning
 <br />meetings or conventions. Most of the items that must be considered are listed
 <br />on a checklist under the “Meeting Checklist” tab. In the planning for the meeting,
 <br />the agenda will specify the proper sequence of events, but consideration must
 <br />also be given to such things as proper protocol, say in the presentation or
 <br />introduction of various attendees, opening ceremonies, seating, etc. The
 <br />parliamentarian is of special use in the preparation of scripts for the chair,
  <br />credentials reports and considerations, election forms and reports, and the
  <br />processes in the consideration of motions and bylaw amendments.
<br />
<br />
<br />
<br />Serving as Parliamentarian at Meetings
<br />
<br />The role of the parliamentarian at a meeting is to be a resource to the chair,
 <br />to assist the chair in the conduct of the meeting. The parliamentarian sits adjacent
  <br />to the chair and unobtrusively gives the chair help, guidance and support during
   <br />the meeting. The chair can and should consult with the parliamentarian when not certain on how to
    <br />rule on a question or proceed in the circumstances.
<br />
