<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2017-12-16T05:08:51.438558719"/>
	<meta name="changed" content="2017-12-16T06:01:42.306710528"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p style="margin-bottom: 0in; line-height: 100%">Ideas that can be
created to fulfillment if funded.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<br/>Farmers currently need a complex network to deliver their goods and receive payment for their food from their people
<br/>Creating a simple dataabase that allows citizens of their own city to pay a tax to those farmers in order to make the foods required...
<br/>give farmers websites that manage to get the food statistics for a city and supply them for the cheapest amount possible.
<br/>
<br/>farmers must have the cheapest system possible for reaping and growing goods in a dense space.
<br/>
<br/>scale
<br/>	A propogation system
<br/>	A maintanence, watering and policing.
<br/>	A social system, (pollination and growth)
<br/>	A reaping system, (harvesting and collection)
<br/>	Refinement into packaged and finished goods (fresh, frozen, dried, juiced, canned)
<br/>	Bee Managemenet
<br/>	Plastic, paper, glass and aluminum recycling center.
<br/>
<br/>	resources needed, plastics, paper, metal and glass recycling
<br/>	Water source.
<br/>	website can help achieve the process of requests for refined goods, delivery, and
<br/>
<br/>	Farmer levels: level 0 - has nothing
<br/>	 								level 1 - owns a car, house, land,
<br/>									level ...
<br/>									level ...
	<br/>								level 5 - owns car, tractor, shipping container, house, web domain,
	<br/>										2 zones of land, has employees, a 10x10 freeze dryer,
	<br/>										a heating press, a pulper, a juicer, a bagger, cutter/ dicer,
	<br/>										jar supply, canning supplies
<br/>											ice cream
<br/>											milking





<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">1.  create a venmo
for every currency</p>
<p style="margin-bottom: 0in; line-height: 100%">	Let users</p>
<p style="margin-bottom: 0in; line-height: 100%">		create a wallet</p>
<p style="margin-bottom: 0in; line-height: 100%">		create a register
of which users have input money in (2x shipping fee ) to be accounted
</p>
<p style="margin-bottom: 0in; line-height: 100%">			for ( via human
reconciliation) (cash will be rejected and sent back if any is</p>
<p style="margin-bottom: 0in; line-height: 100%">			found to be
counterfeit)</p>
<p style="margin-bottom: 0in; line-height: 100%">				ruby methods :
send , request, create_user, create_password</p>
<p style="margin-bottom: 0in; line-height: 100%">				ruby gems:
devise_user_authenticator,
</p>
<p style="margin-bottom: 0in; line-height: 100%">		Withdrawal sends
money back to the bank for them.</p>
<p style="margin-bottom: 0in; line-height: 100%">		</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">1a. start with the
command, upon (human)receipt of *your currency* in our
golden(composed of an aggregate financial value of a country's
currency) wallet,  you have been credited to the receipt of x amount
of *universal* dollars.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">1b .Make the dollars
a cryptocurrency,</p>
<p style="margin-bottom: 0in; line-height: 100%">base the crypto
currency's value on the most even portfolio of all countries in the
world. Taxes spent!</p>
<p style="margin-bottom: 0in; line-height: 100%">Taxes unspent.
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"> 2. script:</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">user wants a form
process automated.</p>
<p style="margin-bottom: 0in; line-height: 100%">they have to enter
predetermined information constantly from an excel sheet to a
website. i come in, record the process, discuss the work you need to
do, and leave you with a process on your computer that does that
infinitely quickly as long as you do not update the system.
</p>
<p style="margin-bottom: 0in; line-height: 100%">automate a form</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">3. a site that is my
resume, and all active websites i have.
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">4 . i can create web
marketing surveys.
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">5. i can create apps
that you can plug in certain devices for extra usability. (virtual
goggles application, specific usb application, unique usb product
applications, amazon firestick)</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">6. i can create
forms that get sent to your email, and then are responded to in a
certain manner (for business correspondence and going paperless”</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">7. I can create a
management system based on videos and photos for project management
to get a job done.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">8. a drugdealers
personal business minified to a shipping business. They conduct their
business without problems and great amounts of accountancy and ease
offered for free.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">9</p>



10. A website that takes a public profile of a person and recreates them in
a VR sense. It will show their ideas, history, assets, background,  "as a god".
It will show their abilities, current statistics, most notable achievements,
the things they place value in, and their financial profile, as if they were a company.
Redundancy profile on personal information time spent on sex, eating, cooking, cals consumed daily
footsteps made this [day, week, month, hour]. Lessons taught, songs sang, instruments played, hours
on instrument.

<br><br>

11. compete with Radiris.com in being able to describe businesses, people, people by job topic
(first model would be public opinions of politicians), where politican ads are deployed to spread awareness on topics.


</body>
</html>
