<h1>Welcome to the Installer guide for our most recent TechIT project</h1>
<p>Find me in app/views/welcome/installerguide.html.erb</p>

<%= link_to "Google map points", "https://drive.google.com/open?id=1XGBfJaAaOTlpZJuIm-L5e6pMP6wGNep8&usp=sharing" %>
<%= link_to "Project overview", ./blotoverview.pdf %>
<%= link_to "Installer guide", ./installguide.pdf %>

<br>this trip will take you approximately 1150 miles from beginning to end,
<br>each stop should take you about an hour to complete
<br>so that's 18 hours to drive, 72 hours to install,
<br>115 dollars gas at a 30mpg car and 3 dollars per gallon
<br>
<br>6 days to do all of this.
