
<h3 class="western">Contributors:</h3>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Vedabrat Anand
Etwaru</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<h3 class="western">Proposed Funding
</h3>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">$2,000.00</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<h3 class="western">Jobs Volunteered for:</h3>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Web Developer</p>
<p style="margin-bottom: 0in; line-height: 100%">Finance/Accounting
management</p>
<p style="margin-bottom: 0in; line-height: 100%">IT Admin</p>
<p style="margin-bottom: 0in; line-height: 100%">Operations</p>
<p style="margin-bottom: 0in; line-height: 100%">Supply Chain
Management</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<h3 class="western">Meeting Agenda Topics:</h3>
<p style="margin-bottom: 0in; line-height: 100%">General Positions</p>
<p style="margin-bottom: 0in; line-height: 100%">Implementation</p>
<p style="margin-bottom: 0in; line-height: 100%">Final Picture</p>
<p style="margin-bottom: 0in; line-height: 100%">Suppliers/Producers</p>
<p style="margin-bottom: 0in; line-height: 100%">Retail/Sales</p>
<p style="margin-bottom: 0in; line-height: 100%">Operations&amp;Management</p>
<p style="margin-bottom: 0in; line-height: 100%">Edible shop</p>
<p style="margin-bottom: 0in; line-height: 100%">App</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
